:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;

  /* Linear gradient background */
  background: linear-gradient(135deg, #2c2f36, #1c1e23);
  /* background: linear-gradient(135deg, #f0f2f5, #d9dde3); */
  /* background: linear-gradient(135deg, #fefefe, #e6e6e6); */
  /* background: linear-gradient(135deg, #dff6f0, #f0f4f8); */
  min-height: 100vh; /* ensures it covers the full viewport height */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
